.container {
    background-color: #a61938;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}

.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #323335;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5rem;
}

.calc {
    background-color: #a61938;
    border-radius: 15px;
}

.screen {
    background-color: #323335;
    color: white;
    width: 90%;
    text-align: right;
    padding-right: 2%;
}

.buttonSp {
    background-color: #255d9c;
    color: white;
    border-radius: 30px;
}

.buttonOp {
    background-color: #287291;
    color: white;
    border-radius: 30px;
}

.buttonNu {
    background-color: #1b4378;
    color: white;
    border-radius: 30px;
}

/* 
  colors: 
  specials: #255d9c .buttonSp
  numbers:  #1b4378 .buttonNu
  red: #a61938 calc background
  gray #323335 .screen
  operator buttons #287291 .buttonOp
  */